
R_files_modi_moblie_EasyEwars/.Rhistory
R_files_modi_moblie_EasyEwars/.RData
R_files_modi_moblie_EasyEwars/INLA
R_files_modi_moblie_EasyEwars/INLA_20.03.17.tar.gz
R_files_modi_moblie_EasyEwars/rsconnect
pic for read me/error
